{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'firstapplication/home_page.css' %}">
    <title>Home Page</title>
</head>
<body>
    <span>
        <h1>Welcome to First Project</h1><p></p>
        <h3> This is innovation with Python training </h3><p></p><br>
    </span>
   
    <div>
        <img src="{% static 'download.jpg' %}" class = 'center'>
    </div>
   
</body>
</html>